<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyntraShoppingSuite">
	<listeners>
		<listener class-name="com.qa.utility.Reporting"></listener>
	</listeners>
	<parameter name="Url" value="https://www.myntra.com"></parameter>
	<parameter name="Browser" value="chrome"></parameter>

	<test thread-count="5" name="Test">
		<classes>
          
			<class name="com.qa.testscript.TC_MyntraShopping_001" />
			<class name="com.qa.testscript.TC_InvalidLogin_002" />
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- MyntraShoppingSuite -->
